:root {
  --main-color: #009688;
}
html {
  scroll-behavior: smooth;

  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: white;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--main-color);
  }
}
body {
  font-family: "poppins", sans-serif;

  ::-webkit-scrollbar {
    width: 0;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/*! Smartphones */
@media (max-width: 767px) {
  .container {
    max-width: 90%;
  }
}

/*! Tablets */
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 720px;
  }
}

/*! Laptop */
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

/*! Large Desktops */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/*TODO Start Setting Box */

.setting-box {
  position: fixed;
  left: -320px;
  top: 0;
  z-index: 10;
  color: black;
  font-size: 20px;
  background: #00000091;
  padding: 10px;
  min-height: 100vh;
  transition: 0.5s ease-in-out all;
}
.setting-box .icon {
  position: absolute;
  top: 20%;
  left: 100%;
  padding: 10px;
  background: var(--main-color);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: 0.3s all ease-in-out;
}
.active {
  left: 0;
}
.setting-box .settings-container {
  width: 300px;
}
.setting-box .colors {
  background: #333;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border-radius: 10px;
  color: white;
  font-weight: 700;
}
.setting-box .color-list ul {
  padding: 0;
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}
.setting-box .color-list ul li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}
.setting-box .color-list ul .first {
  background-color: #e91e63;
}
.setting-box .color-list ul .second {
  background-color: #ff9800;
}
.setting-box .color-list ul .third {
  background-color: #009688;
}
.setting-box .color-list ul .fourth {
  background-color: #03a9f4;
}
.setting-box .color-list ul .fifth {
  background-color: #4caf50;
}
.setting-box .color-list ul li:not(.active) {
  opacity: 0.4;
}
.setting-box .color-list ul .active {
  opacity: 1;
}
.setting-box .random {
  display: flex;
  flex-direction: column;
  background: #333;
  border-radius: 10px;
  margin-top: 10px;
  text-align: center;
  color: white;
  padding: 20px 0px;
}
.setting-box .random .options {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}
.setting-box .random .options div {
  color: #ccc;
  cursor: pointer;
  background: var(--main-color);
  padding: 6px;
  border-radius: 50%;
  font-weight: 700;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s all ease-in-out;
  opacity: 0.5;
  font-size: 14px;
}
.setting-box .random .options .active {
  opacity: 1;
}

/*TODO End Setting Box */

/*TODO Start Landing Page */
.landing-page {
  min-height: 100vh;
  background-image: url(../img/4.jpg);
  background-size: cover;
  position: relative;
  transition: 0.3s all ease-in-out;
}
.landing-page .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000a6;
  z-index: 1;
}
.header-area {
  position: sticky;
  color: white;
  z-index: 3;
  background: black;
  height: 70px;
  top: 0;
}

.header-area .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.header-area .logo {
  font-size: 18px;
}

.toggler {
  font-size: 30px;
  color: var(--main-color);
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}

.toggle-icon {
  display: none;
}

.header-area ul.main {
  display: flex;
  gap: 20px;
  list-style-type: none;
  padding: 0;
  height: 100%;
}

/*! Smartphones */
@media (max-width: 776px) {
  .header-area ul.main {
    display: none;
  }

  .toggle-icon {
    display: block;
  }
}

.header-area ul.main li a {
  display: flex;
  align-items: center;
  height: 100%;
}

.header-area ul li a {
  text-decoration: none;
  color: white;
  transition: 0.25s ease-in-out all;
  font-size: 18px;
  position: relative;
}

.header-area ul.main li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 3%;
  transition: 0.25s ease-in-out all;
  background-color: white;
}

.header-area ul.main li a:hover {
  color: var(--main-color);
}

.header-area ul.main li a:hover::before {
  width: 100%;
}

/*! Secondary ul*/

.header-area .menu {
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: #444;
  width: 80%;
  height: 400px;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  animation: show 0.5s ease;
  display: none;
}

.header-area .menu.show-menu {
  display: flex;
}

.header-area .menu ul.secondary {
  display: flex;
  gap: 20px;
  list-style-type: none;
  border-radius: 20px;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 100%;
  background: #333;
  height: 100%;
  justify-content: center;
}

.header-area .menu ul.secondary li {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header-area .menu ul.secondary li a {
  width: 80%;
  background-color: #222;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  padding: 10px;
}

.header-area .menu ul.secondary li a:hover {
  background-color: var(--main-color);
  color: white;
}

@keyframes show {
  from {
    opacity: 0;
    transform: translate(-50%, -100px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

.landing-page .introduction-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 2;
  width: 100%;
  text-align: center;
}
.landing-page .introduction-text p {
  font-size: 14px;
  color: #aaa;
  margin-top: 30px;
  line-height: 1.5;
}
.landing-page .introduction-text h2 span {
  color: var(--main-color);
  transition: 0.3s all ease-in-out;
}

/*TODO End Landing Page */
/*TODO Start About Us */
.about {
  padding: 50px 0px;
  background: #333;
}
.about .parent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

.about .child:first-of-type {
  display: flex;
  flex-direction: column;
}

.about .child h2 {
  color: var(--main-color);
  transition: 0.3s all ease-in-out;
}

.about .child p {
  color: #ddd;
  line-height: 35px;
}

.about .child img {
  max-width: 100%;
  border-radius: 20px;
}

/*! Smartphones */
@media (max-width: 767px) {
  .about .parent {
    flex-direction: column;
    gap: 30px;

    & h2 {
      text-align: center;
    }
  }
}

/*TODO End About Us */

/*TODO Start Skills */

.skills {
  background-color: #222;
  padding: 50px 0;
  text-align: center;
}
.skills .title {
  color: var(--main-color);
  margin-bottom: 3rem;
  transition: 0.3s all ease-in-out;
}

.skills .skills-container {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.skills .skills-container .skill {
  border-radius: 8px;
  background-color: #666;
  display: flex;
  align-items: center;
  padding: 20px;
  height: 60px;
}

.skills .skills-container .skill h3 {
  color: #eee;
  width: 25%;
  letter-spacing: 1px;
}

.skills .skills-container .skill .progress {
  position: relative;
  width: 80%;
  background: #ddd;
  height: 100%;
  border-radius: 5px;
}
.skills .skills-container .skill .progress span {
  position: absolute;
  height: 100%;
  width: 0%;
  background: var(--main-color);
  left: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  transition: 0.5s all ease-in-out;
}

/*! Smartphones */
@media (max-width: 767px) {
  .skills .skills-container .skill {
    flex-direction: column;
    height: 80px;
    gap: 10px;
  }
}

/*TODO End Skills */
/*TODO Start Gallery */

.gallery {
  padding: 50px 0px;
  text-align: center;
  background-color: #333;
}

.gallery .title {
  color: var(--main-color);
  margin-bottom: 20px;
  transition: 0.3s all ease-in-out;
}

.gallery .images-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 24%);
  gap: 15px;
}

.gallery .images-container .img {
  cursor: pointer;
  transition: 0.3s all ease;
}
.gallery .images-container .img:hover {
  transform: scale(1.05);
}

.gallery .images-container .img img {
  max-width: 100%;
  aspect-ratio: 1920/1200;
  border: 2px solid #ccc;
}

.gallery .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0000009c;
  opacity: 0;
  z-index: -1;
  transition: 0.4s all ease-in-out;
}
.gallery .overlay.active {
  z-index: 5;
  opacity: 1;
}
.gallery .overlay .pop-up {
  background: #222;
  width: 80%;
  height: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
}
.gallery .overlay .pop-up span {
  position: absolute;
  background: #ddd;
  border-radius: 50%;
  padding: 5px 12px 5px 12px;
  font-size: 30px;
  top: -20px;
  right: -20px;
  cursor: pointer;
  font-weight: 600;
  color: #dc3545;
  transition: all 0.3s ease-in-out;
}

.gallery .overlay .pop-up h2 {
  margin: 0;
  color: var(--main-color);
}
.gallery .overlay .pop-up img {
  border: 3px solid #aaa;
  aspect-ratio: 1920/1200;
  max-width: 80%;
}

/*! Tablets And Smartphones */
@media (max-width: 991px) {
  .gallery .images-container {
    grid-template-columns: repeat(2, 48%);
    gap: 10px;
  }

  .gallery .overlay .pop-up {
    width: 90%;
    height: 50%;
  }

  .gallery .overlay .pop-up img {
    max-width: 90%;
  }
}

/*! Laptop */
@media (min-width: 992px) and (max-width: 1199px) {
  .gallery .images-container {
    grid-template-columns: repeat(3, 32%);
  }
}

/*TODO End Gallery */

/*TODO Start Timeline */
.timeline {
  height: 70vh;
  overflow: auto;
  background-color: #222;
  padding: 50px 0px;
}

.timeline h1 {
  color: var(--main-color);
  text-align: center;
  margin-bottom: 50px;
}

.timeline-container {
  position: relative;
  background-color: #444;
  width: 100%;
  height: 100vh;
}

.timeline .hr {
  width: 2px;
  height: 90%;
  position: absolute;
  background: var(--main-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.timeline .hr .circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #000;
  border: 3px solid var(--main-color);
  transition: all 0.3s ease-in-out;
}

.timeline .date-1 {
  background: var(--main-color);
  width: 200px;
  padding: 5px;
  color: #000;
  font-weight: 600;
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease-in-out;
  text-align: center;
}

.timeline .date-2 {
  background: var(--main-color);
  width: 200px;
  padding: 5px;
  color: #000;
  font-weight: 600;
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease-in-out;
  text-align: center;
}

.timeline .box {
  position: absolute;
  width: 40%;
  background: #222;
  padding: 10px;
  border: 2px solid var(--main-color);
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.timeline .box h3 {
  color: var(--main-color);
  transition: all 0.3s ease-in-out;
  margin-bottom: 10px;
}

.timeline .box p {
  color: #bbb;
  line-height: 30px;
}

.timeline .one {
  top: 14%;
  left: 5%;
}
.timeline .two {
  top: 36.5%;
  right: 5%;
}
.timeline .three {
  top: 59%;
  left: 5%;
}
.timeline .four {
  top: 81.5%;
  right: 5%;
}

.span-left {
  position: absolute;
  border: 10px solid;
  border-color: transparent transparent transparent var(--main-color);
  top: 10%;
  right: -20px;
  transition: all 0.3s ease-in-out;
}

.span-right {
  position: absolute;
  border: 10px solid;
  border-color: transparent var(--main-color) transparent transparent;
  top: 10%;
  left: -20px;
  transition: all 0.3s ease-in-out;
}

/*! Smartphones */
@media (max-width: 500px) {
  .timeline-container {
    height: 200vh;
  }
  .timeline :where(.one, .three) {
    left: 3% !important;
  }
  .timeline :where(.two, .four) {
    right: 3% !important;
  }

  .timeline .date-2 {
    top: 55%;
  }
}

/*! Tablets and Smartphones */
@media (max-width: 991px) {
  .timeline .box :where(h3, p) {
    font-size: 14px;
  }
}

/*TODO End Timeline */
/*TODO Start Features */

.features {
  padding: 50px 0px;
  text-align: center;
  background-color: #333;
}

.features h1 {
  color: var(--main-color);
  transition: all 0.3s ease-in-out;
}

.features .parent {
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
  justify-content: space-between;
}

.features .parent .child {
  width: calc(33.3% - 10px);
  background: #555;
  padding: 20px;
  border-radius: 15px;
}

.features .parent .child img {
  width: 30%;
  max-height: 100%;
}

.features .parent .child h4 {
  color: var(--main-color);
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.features .parent .child h4::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 90%;
  bottom: -40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--main-color);
  transition: all 0.3s ease-in-out;
}

.features .parent .child p {
  color: #bbb;
}

/*! Tablets */
@media (min-width: 768px) and (max-width: 991px) {
  .features .parent .child {
    width: calc(50% - 10px);
  }
}

/*! Tablets */
@media (max-width: 767px) {
  .features .parent .child {
    width: 90%;
  }
  .features .parent {
    justify-content: center;
  }
}

/*TODO End Features */
/*TODO Start Testimonials */
.testimonials {
  height: 60vh;
  position: relative;
  padding: 50px 0px;
  background-color: #222;
}

.testimonials .container {
  height: 100%;
  display: flex;
  position: relative;
}

.testimonials .left {
  background-color: var(--main-color);
  height: 100%;
  width: 50%;
  transition: all 0.3s ease-in-out;
}

.testimonials .left span {
  position: absolute;
  top: 10%;
  left: 6%;
  color: white;
  font-size: 30px;
  font-weight: 500;
}

.testimonials .right {
  background-color: #333;
  height: 100%;
  width: 50%;
}
.testimonials .content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.testimonials .content .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #555;
  width: calc(33.3% - 20px);
  padding: 10px;
  gap: 15px;
  border-radius: 5px;
}

.testimonials .content .card p {
  color: #bbb;
  margin: 0;
  padding: 0px 5px;
}

.testimonials .content .card .info {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  gap: 20px;
  margin-bottom: 10px;
}

.testimonials .content .card .info img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.testimonials .content .card .info .details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
}

.testimonials .content .card .info .details h5 {
  color: #ddd;
  letter-spacing: 1px;
}

.testimonials .content .card .info .details h6 {
  color: var(--main-color);
  margin: 0;
  transition: all 0.3s ease-in-out;
}

/*! Tablets And Smartphones */
@media (max-width: 991px) {
  .testimonials {
    height: 100vh;
  }

  .testimonials .content {
    top: 60%;
    flex-direction: column;
    row-gap: 10px;
  }

  .testimonials .content .card {
    width: 90%;
    gap: 10px;
  }
}

/*TODO End Testimonials */
/*TODO Start Contact Us */
.contact {
  text-align: center;
  padding: 50px 0px;
  background: #333;
}
.contact .container {
  position: relative;
  background-image: url(../img/contact.png);
  background-size: contain;
  background-position: center;
  padding: 40px;
}

.contact .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #8f8f8f14;
  z-index: 1;
}

.contact h1 {
  color: var(--main-color);
  margin: 40px 0px;
  transition: all 0.3s ease-in-out;
}
.contact .contact-container {
  display: flex;
  gap: 20px;
  position: relative;
  z-index: 1;
}
.contact .contact-container .left {
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-between;
  width: 50%;
}
.contact .contact-container .left input[type="text"] {
  padding: 10px;
  background-color: rgba(218, 218, 218, 0.19);
  outline: 0;
  border: 2px solid #222;
  transition: all 0.3s ease-in-out;
}
.contact .contact-container .left input[type="text"]:focus {
  border-color: #aaa var(--main-color) var(--main-color) #aaa;
}
.contact .contact-container .left input[type="text"]:focus::placeholder {
  color: var(--main-color);
}
.contact .contact-container .right {
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-between;
  width: 50%;
}
.contact .contact-container .right textarea {
  padding: 10px;
  background-color: rgba(218, 218, 218, 0.19);
  border: 2px solid #222;
  outline: 0;
  height: 74%;
  transition: all 0.3s ease-in-out;
  resize: none;
}

.contact .contact-container .right textarea:focus {
  border-color: #aaa var(--main-color) var(--main-color) #aaa;
}

textarea:focus::placeholder {
  color: var(--main-color);
}

.contact .contact-container .right input[type="submit"] {
  background: var(--main-color);
  height: 20%;
  color: white;
  border: 0;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

/*TODO End Contact Us */
/*TODO Start Footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #000;
}

.footer h5 {
  color: #ccc;
}

.footer span {
  color: var(--main-color);
  transition: all 0.3s ease-in-out;
}

/*TODO End Footer */

/*! Smartphones */
@media (max-width: 767px) {
  html {
    font-size: 80% !important;
  }
}
